/*
 * FancyBox - jQuery Plugin
 * Simple and fancy lightbox alternative
 *
 * Examples and documentation at: http://fancybox.net
 * 
 * Copyright (c) 2008 - 2010 Janis Skarnelis
 * That said, it is hardly a one-person project. Many people have submitted bugs, code, and offered their advice freely. Their support is greatly appreciated.
 * 
 * Version: 1.3.4 (11/11/2010)
 * Requires: jQuery v1.3+
 *
 * Dual licensed under the MIT and GPL licenses:
 *   http://www.opensource.org/licenses/mit-license.php
 *   http://www.gnu.org/licenses/gpl.html
 * 
 * -------------------------------------
 * ECM FancyBox Alternative Stylesheet |
 * -------------------------------------
 */

#fancybox-loading {
	position:fixed; top:50%; left:50%;
	width:40px; height:40px; margin-top:-20px; margin-left:-20px;
	overflow:hidden; z-index:1104; cursor:pointer;
	display:none;
}
#fancybox-loading div {
	position:absolute; top:0; left:0; width:40px; height:480px;
	background-image:url('images/fancybox.png');
}
#fancybox-overlay {
	position:absolute; top:0; left:0; width:100%; z-index:1100;
	display:none;
}
#fancybox-tmp {
	padding:0; margin:0; border:0; overflow:auto;
	display:none;
}
#fancybox-wrap {
	position:absolute; top:0; left:0; z-index:1101; padding:20px;
	outline:none; display:none;
}
#fancybox-outer {position:relative; width:100%; height:100%; background:#fff;}
#fancybox-content {
	position:relative; overflow:hidden; z-index:1102;
	width:0; height:0; padding:0; border:0px solid #fff; outline:none;
}
#fancybox-hide-sel-frame {
	position:absolute; top:0; left:0; z-index:1101;
	width:100%; height:100%; background:transparent;
}
#fancybox-close {
	position:absolute; top:-15px; right:-15px; z-index:1103;
	width:30px; height:30px; cursor:pointer;
	background:transparent url('images/fancybox.png') -40px 0px;
	display:none;
}
#fancybox-error {margin:0; padding:14px; font:normal 12px/20px Arial; color:#444;}
#fancybox-img {
	width:100%; height:100%; margin:0; padding:0;
	border:none; outline:none; line-height:0; vertical-align:top;
}
#fancybox-frame {display:block; width:100%; height:100%; border:none;}

#fancybox-left,
#fancybox-right {
	position:absolute; bottom:0px; z-index:1102; height:100%; width:35%;
	cursor:pointer; outline:none;
	background:transparent url('images/blank.gif');
	display:none;
}
#fancybox-left {left:0px;}
#fancybox-right {right:0px;}
#fancybox-left-ico, #fancybox-right-ico {
	position:absolute; top:50%; left:-9999px; z-index:1102;
	width:30px; height:30px; margin-top:-15px;
	cursor:pointer;
	display:block;
}
#fancybox-left-ico  {background-image:url('images/fancybox.png'); background-position:-40px -30px;}
#fancybox-right-ico {background-image:url('images/fancybox.png'); background-position:-40px -60px;}
#fancybox-left:hover,
#fancybox-right:hover {visibility:visible; /* IE6 */}
#fancybox-left:hover span  {left:20px;}
#fancybox-right:hover span {left:auto; right:20px;}

.fancybox-bg {
	position:absolute; z-index:1001;
	width:20px; height:20px; margin:0; padding:0; border:0;
}
#fancybox-bg-n  {top:-20px; left:0; width:100%;}
#fancybox-bg-ne {top:-20px; right:-20px;}
#fancybox-bg-e  {top:0; right:-20px; height:100%;}
#fancybox-bg-se {bottom:-20px; right:-20px;}
#fancybox-bg-s  {bottom:-20px; left:0; width:100%;}
#fancybox-bg-sw {bottom:-20px; left:-20px;}
#fancybox-bg-w  {top:0; left:-20px; height:100%;}
#fancybox-bg-nw {top:-20px; left:-20px;}

#fancybox-title {font-family:Verdana; font-size:11px; z-index:1102;}
.fancybox-title-inside  {position:relative; padding-bottom:10px; background:#fff; color:#333; text-align:center;}
.fancybox-title-outside {padding-top:10px; color:#fff;}
.fancybox-title-over {position:absolute; bottom:0; left:0; color:#fff; text-align:left;}
#fancybox-title-over {display:block; padding:10px; background-image:url('images/fancy_title_over.png');}
.fancybox-title-float {position:absolute; left:0; bottom:-20px; height:32px;}
#fancybox-title-float-wrap {width:auto; border:none; border-collapse:collapse;}
#fancybox-title-float-wrap td {border:none; white-space:nowrap;}
#fancybox-title-float-left  {padding:0 0 0 15px; background:url('images/fancybox.png') -40px -90px no-repeat;}
#fancybox-title-float-main  {padding:0 0 3px 0; line-height:29px; background:url('images/fancybox-x.png') 0px -40px; color:#fff; font-weight:bold;}
#fancybox-title-float-right {padding:0 0 0 15px; background:url('images/fancybox.png') -55px -90px no-repeat;}


/* IE6 */

.fancybox-ie6 #fancybox-close {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_close.png', sizingMethod='scale');}

.fancybox-ie6 #fancybox-left-ico  {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_nav_left.png',  sizingMethod='scale');}
.fancybox-ie6 #fancybox-right-ico {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_nav_right.png', sizingMethod='scale');}

.fancybox-ie6 #fancybox-title-over {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_title_over.png', sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-over {zoom:1;}

.fancybox-ie6 #fancybox-title-float-left  {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_title_left.png',  sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-main  {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_title_main.png',  sizingMethod='scale');}
.fancybox-ie6 #fancybox-title-float-right {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_title_right.png', sizingMethod='scale');}

.fancybox-ie6 #fancybox-bg-w,
.fancybox-ie6 #fancybox-bg-e,
.fancybox-ie6 #fancybox-left,
.fancybox-ie6 #fancybox-right,
#fancybox-hide-sel-frame {height: expression(this.parentNode.clientHeight + "px");}

#fancybox-loading.fancybox-ie6 {
	position:absolute; margin-top:0;
	top: expression( (-20 + (document.documentElement.clientHeight ? document.documentElement.clientHeight/2 : document.body.clientHeight/2 ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop )) + 'px');
}
#fancybox-loading.fancybox-ie6 div {background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/ECMComercio/addons/fancybox/images/fancy_loading.png', sizingMethod='scale');}


/* IE6, IE7, IE8 */

.fancybox-ie .fancybox-bg {background-color:transparent !important;}

.fancybox-ie #fancybox-bg-n  {}
.fancybox-ie #fancybox-bg-ne {}
.fancybox-ie #fancybox-bg-e  {}
.fancybox-ie #fancybox-bg-se {}
.fancybox-ie #fancybox-bg-s  {}
.fancybox-ie #fancybox-bg-sw {}
.fancybox-ie #fancybox-bg-w  {}
.fancybox-ie #fancybox-bg-nw {}

/* EOF */
